@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Instrument Sans", sans-serif;
  background-color: white;
  overflow-x: hidden;
}


.m-heading{
  @apply text-[24px] font-bold text-[#333333];
}

.m-desc{
  @apply text-[16px] text-[#737373] font-normal
}

.m-input-heading{
  @apply text-[16px] text-[#737373] font-bold
}

.td-login-card{
  @apply sm:w-[476px] sm:bg-white sm:rounded-xl  sm:p-[40px]
}